<section *ngIf="!show">
  <div class="forgot-card">
    <div class="title">
      <h3 class="forgot-title">Forgot Password</h3>
      <p class="forgot-para">Enter the email associated with your account and we'll send an email with instruction to
        reset your password. </p>
    </div>
    <div class="form">
      <form [formGroup]="forgotForm" (ngSubmit)="forgotHandler()">
        <mat-form-field appearance="outline" class="emailField">
          <mat-label>Email</mat-label>
          <input formControlName="email" (keydown.space)="$event.preventDefault()" matInput required>
          <mat-error *ngIf="formControl.email.hasError('required')">{{errorMsg.EMAIL_REQ}}</mat-error>
          <mat-error *ngIf="formControl.email.hasError('pattern')">{{errorMsg.INVALID__EMAIL}}</mat-error>
        </mat-form-field>
        <div class="btn">
          <button class="login-btn" type="submit">Send Instructions</button>
        </div>
      </form>
    </div>
    <div class="back-icon">
      <i class="fa-solid fa-arrow-left-long" [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRouting]"></i>
      <p class="back-title" [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRouting]">Back</p>
    </div>
  </div>
</section>

<!------------------------------------------------------ AFTER CLICK ON SEND INSTRUCTION BUTTON -------------------------------------------->

<section *ngIf="show">
  <div class="forgot-card">
    <div class="content">
      <img src="../../../../../assets/email-icon.png" class="email-icon">
      <h3 class="title">Check your email</h3>
      <p class="para">We have sent a password recover instructions to your email, Please check !!</p>
    </div>

    <div class="btn">
      <a
        href="https://yopmail.com/en/" class="site-link">
        <button class="login-btn" type="submit">Open email app</button>
      </a>
      <p class="skip-line" [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRouting]">Skip, I'll confirm later</p>
    </div>

    <div class="guide">
      <p class="guide-para para-1">Did not receive the email ? Check your spam folder.</p>
      <p class="guide-para para-2">Back to <span class="another-email" [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRouting]">Login</span></p>
    </div>
  </div>
</section>
