@import "../../../../SCSS/btn";
@import "../../../../SCSS/matFormfield-outline";
$font-weight: 500;
@mixin paragraph {
  letter-spacing: 1.5px;
  color: rgba(58, 53, 65, 0.68);
}
section {
  .forgot-card {
    max-width: 420px;
    margin-top: 10px;
    .title {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .forgot-title {
        font-size: 23px;
        font-weight: $font-weight;
      }
      .forgot-para {
        @include paragraph();
      }
    }
    .form {
      margin-top: 10px;
      .emailField {
        width: 420px;
        mat-error {
          margin-left: -9px;
          font-size: 13px;
          font-weight: $font-weight;
          margin-top: -2px;
        }
      }
      .btn {
        margin-top: -10px;
      }
    }
    .back-icon {
      display: flex;
      gap: 5px;
      color: rgba(58, 53, 65, 0.68);
      font-size: 20px;
      margin-top: 150px;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

//<----------------------------------------------  SCSS FOR AFTER CLICK SEND INSTRUCTION  ------------------------------------------------>

section {
  .forgot-card {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
      .email-icon {
        width: 100px;
        height: 100px;
      }
      .title {
        font-size: 25px;
        font-weight: $font-weight;
      }
      .para {
        margin-top: -10px;
        @include paragraph();
      }
    }
    .btn {
      .site-link {
        text-decoration: none;
      }
      .skip-line {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-top: -15px;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
    .guide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      @include paragraph();
      .para-2 {
        margin-top: -11px;
        .another-email {
          color: $color;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }
  }
}
