
<section>
  <h1>Reset Password</h1>
  <form [formGroup]="resetPasswordForm" class="form">
      <div class="field">
          <label>Password</label>
          <mat-form-field appearance="outline">
              <input matInput  formControlName="password" placeholder="Enter password" [type]="hide ? 'password':'text'"  required>
              <i class="material-icons" matSuffix (click)="hide = !hide">
                {{hide?'visibility':'visibility_off'}}
              </i>
              <mat-error *ngIf="this.resetPasswordForm.controls.password.errors?.required">*Password is required</mat-error>
              <mat-error *ngIf="resetPasswordForm?.controls?.password?.errors?.minlength">*Minimum length should be 6 </mat-error>

          </mat-form-field>

      </div>
      <div class="field">
        <label>Confirm Your password</label>
        <mat-form-field appearance="outline">
            <input matInput  formControlName="passwrod_confirmation" placeholder="Enter password" [type]="hide1 ? 'password':'text'"  required>
            <i class="material-icons" matSuffix (click)="hide1 = !hide1">
              {{hide1?'visibility':'visibility_off'}}
            </i>
            <mat-error *ngIf="this.resetPasswordForm.controls.passwrod_confirmation.errors?.required">*Confirm password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm?.controls?.passwrod_confirmation?.errors?.minlength">*Minimum length should be 6 </mat-error>
            <mat-error *ngIf="resetPasswordForm?.controls?.passwrod_confirmation?.errors?.confirmedValidator">Passsword and Confirm Password didn't match. </mat-error>
          </mat-form-field>

      </div>
      <div >
          <button class="login-btn" mat-raised-button (click)="onSubmit()" type="submit" [disabled]="disable_btn">Reset Password</button>
      </div>
  </form>
</section>

