<section class="loginSection">
  <div class="card">
    <div class="welcome">
      <h3 class="welcome-title">Welcome to Materio! 👋🏻</h3>
      <p class="para sigin">Please sign-in to your account and start the adventure</p>
    </div>
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
        <div class="formFields">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" (keydown.space)="$event.preventDefault()" matInput required>
            <mat-error *ngIf="formControl.email.hasError('required')">{{errorMsg.EMAIL_REQ}}</mat-error>
            <mat-error *ngIf="formControl.email.hasError('pattern')">{{errorMsg.INVALID__EMAIL}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" (keydown.space)="$event.preventDefault()"
              [type]="hide ? 'password' : 'text'" required>
            <mat-icon class="pointer" matSuffix (click)="hide = !hide">
              <span>{{hide ? 'visibility_off' : 'visibility'}}</span>
            </mat-icon>
            <mat-error *ngIf="formControl.password.hasError('required')">{{errorMsg.PASSWORD_REQ}}
            </mat-error>
            <mat-error *ngIf="formControl.password.hasError('pattern')">{{errorMsg.PASSWORD_INVALID}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="forgot">
          <p class="forgot-pass" [routerLink]="['ABS_ACCOUNT_FORGOT_PASSWORD' | absoluteRouting]">Forgot Password?</p>
        </div>
        <button class="login-btn" type="submit">Login</button>
        <div class="new-user">
          <p class="para">New on our Platform?</p>
          <p class="createAccount" [routerLink]="['ABS_ACCOUNT_SIGNUP' | absoluteRouting]">Create an account</p>
        </div>
        <div class="separator">
          <p class="or-separator">or</p>
        </div>
        <div class="social-icons icon">
          <img src="../../../../../assets/svg-images/icons8-facebook.svg">
          <img src="../../../../../assets/svg-images/icons8-twitter.svg">
          <img src="../../../../../assets/svg-images/icons8-linkedin.svg">
          <img src="../../../../../assets/svg-images/icons8-google.svg">
        </div>
      </form>
    </div>
  </div>
</section>
