<section class="main-content">

  <div class="content">
    <mat-card>
    <div class="header">
      <img src="../../../../../assets/purple_white_letter-m.svg.png" class="logo">
      <h1 class="head-title">materio</h1>
    </div>
    <router-outlet></router-outlet>
  </mat-card>
  </div>

  <div class="footer-decorate">
    <img src="../../../assets/auth-v1-tree.png" class="tree-left">
    <img src="../../../assets/auth-v1-mask-light.png" class="center-image">
    <img src="../../../assets/auth-v1-tree-2.png" class="tree-right">
  </div>
</section>
